body{
  background-color: green;
}

#wrapper{
  background-color: green
  width: 1000px;
  height:600px;
  margin: 0 auto;
}
#content1{
  background-color: blue;
  width: 200px;
  height: 200px;
  position: relative;
  left: 300px;
  top: 10px;
  float:left;
}

#content2{
  background-color: red;
  width:200px;
  height:200px;
  position: relative;
  left: 800px;
  top: 10px;
  float: left;
}

#content3{
  background-color: yellow;
  width:200px;
  height:200px;
  position: relative;
  left: 600px;
  top: 100px;
  clear: both;
}
